@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Raleway&display=swap");

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    padding: 0px;
  }
  header {
    border: black solid 2px;
    margin: 0px;
  }
  form {
    max-width: 80%;
    margin: auto;
    margin-top: 60px;
    background-color: blue;
    border-radius: 5px;
    padding: 20px;
  }
  form * {
    padding: 3px;
    margin-top: 8px;
  }
  label {
    display: inline;
    color:cornsilk;
    margin-top: 5px;
  }
  input {
    padding-left: 20px;
  }
  footer {
    background-color: blue; 
  }
  
  table {
    border: black solid 1px;
    margin:auto;
    margin-top: 20px;
  }
  table * {
    border: black solid 1px;
  }